--
-- PostgreSQL database dump
--

\restrict Rw3dBD1ItM9W17Ok6zacQn4nwGfoI95SQcw4ozbLNAyIEhokxEWvw2aRVd0D8ab

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: check_capacity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_capacity() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.capacity <= 0 THEN
        RAISE EXCEPTION 'Capacity must be greater than 0';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_capacity() OWNER TO postgres;

--
-- Name: check_schedule_time(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_schedule_time() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.start_time >= NEW.end_time THEN
        RAISE EXCEPTION 'Start time must be less than end time';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_schedule_time() OWNER TO postgres;

--
-- Name: check_ticket_price(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_ticket_price() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.price < 0 THEN
        RAISE EXCEPTION 'Price cannot be negative';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_ticket_price() OWNER TO postgres;

--
-- Name: count_events(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.count_events() RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
   total INT;
BEGIN
   SELECT COUNT(*) INTO total FROM event;
   RETURN total;
END;
$$;


ALTER FUNCTION public.count_events() OWNER TO postgres;

--
-- Name: delete_event(integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.delete_event(IN p_event_id integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
   IF EXISTS (SELECT 1 FROM ticket WHERE event_id = p_event_id) THEN
      RAISE NOTICE 'Cannot delete, tickets exist!';
   ELSE
      DELETE FROM event WHERE event_id = p_event_id;
   END IF;
END;
$$;


ALTER PROCEDURE public.delete_event(IN p_event_id integer) OWNER TO postgres;

--
-- Name: get_events_by_category(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_events_by_category(cat_id integer) RETURNS TABLE(event_id integer, event_name character varying, description character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
   RETURN QUERY
   SELECT e.event_id, e.event_name, e.description
   FROM event e
   WHERE e.category_id = cat_id;
END;
$$;


ALTER FUNCTION public.get_events_by_category(cat_id integer) OWNER TO postgres;

--
-- Name: set_joining_date(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_joining_date() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
   NEW.joining_date := CURRENT_DATE;
   RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_joining_date() OWNER TO postgres;

--
-- Name: set_payment_date(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_payment_date() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.payment_date := CURRENT_DATE;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_payment_date() OWNER TO postgres;

--
-- Name: set_registration_date(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_registration_date() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.registration_date := CURRENT_DATE;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_registration_date() OWNER TO postgres;

--
-- Name: update_event_name(integer, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.update_event_name(IN p_event_id integer, IN p_new_name character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE event
    SET event_name = p_new_name
    WHERE event_id = p_event_id;
END;
$$;


ALTER PROCEDURE public.update_event_name(IN p_event_id integer, IN p_new_name character varying) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    user_id integer NOT NULL,
    name character varying(100),
    email character varying(100),
    contact_no character varying(15),
    registration_date date
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking (
    booking_id integer NOT NULL,
    booking_date date NOT NULL,
    total_amount numeric(10,2),
    user_id integer
);


ALTER TABLE public.booking OWNER TO postgres;

--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    category_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment (
    payment_id integer NOT NULL,
    booking_id integer,
    payment_method character varying(50),
    payment_date date
);


ALTER TABLE public.payment OWNER TO postgres;

--
-- Name: ticket; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket (
    ticket_id integer NOT NULL,
    event_id integer,
    booking_id integer,
    type character varying(50),
    price numeric(10,2)
);


ALTER TABLE public.ticket OWNER TO postgres;

--
-- Name: complete_booking_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.complete_booking_view AS
 SELECT u.name,
    b.booking_id,
    t.ticket_id,
    t.type,
    p.payment_method
   FROM (((public."User" u
     JOIN public.booking b ON ((u.user_id = b.user_id)))
     JOIN public.ticket t ON ((b.booking_id = t.booking_id)))
     JOIN public.payment p ON ((b.booking_id = p.booking_id)));


ALTER VIEW public.complete_booking_view OWNER TO postgres;

--
-- Name: event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event (
    event_id integer NOT NULL,
    event_name character varying(150) NOT NULL,
    description character varying(255),
    venue_id integer,
    organiser_id integer,
    category_id integer
);


ALTER TABLE public.event OWNER TO postgres;

--
-- Name: event_category_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.event_category_view AS
 SELECT e.event_name,
    c.name
   FROM (public.event e
     JOIN public.category c ON ((e.category_id = c.category_id)));


ALTER VIEW public.event_category_view OWNER TO postgres;

--
-- Name: event_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.event ALTER COLUMN event_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.event_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: event_sponsor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_sponsor (
    event_id integer NOT NULL,
    sponsor_id integer NOT NULL,
    sponsorship_amount numeric(10,2)
);


ALTER TABLE public.event_sponsor OWNER TO postgres;

--
-- Name: venue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.venue (
    venue_id integer NOT NULL,
    name character varying(100) NOT NULL,
    location character varying(150),
    capacity integer
);


ALTER TABLE public.venue OWNER TO postgres;

--
-- Name: event_venue_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.event_venue_view AS
 SELECT e.event_id,
    e.event_name,
    v.name AS venue_name,
    v.location
   FROM (public.event e
     JOIN public.venue v ON ((e.venue_id = v.venue_id)));


ALTER VIEW public.event_venue_view OWNER TO postgres;

--
-- Name: organizer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizer (
    organiser_id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    contact_no character varying(15),
    company_name character varying(100)
);


ALTER TABLE public.organizer OWNER TO postgres;

--
-- Name: organizer_event_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.organizer_event_view AS
 SELECT o.organiser_id,
    o.name,
    e.event_name
   FROM (public.organizer o
     JOIN public.event e ON ((o.organiser_id = e.organiser_id)));


ALTER VIEW public.organizer_event_view OWNER TO postgres;

--
-- Name: payment_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.payment_view AS
 SELECT p.payment_id,
    p.booking_id,
    p.payment_method,
    p.payment_date,
    b.total_amount
   FROM (public.payment p
     JOIN public.booking b ON ((p.booking_id = b.booking_id)));


ALTER VIEW public.payment_view OWNER TO postgres;

--
-- Name: schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schedule (
    schedule_id integer NOT NULL,
    event_id integer,
    activity character varying(150),
    start_time timestamp without time zone,
    end_time timestamp without time zone
);


ALTER TABLE public.schedule OWNER TO postgres;

--
-- Name: schedule_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.schedule_view AS
 SELECT s.schedule_id,
    e.event_name,
    s.activity,
    s.start_time,
    s.end_time
   FROM (public.schedule s
     JOIN public.event e ON ((s.event_id = e.event_id)));


ALTER VIEW public.schedule_view OWNER TO postgres;

--
-- Name: sponsor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sponsor (
    sponsor_id integer NOT NULL,
    name character varying(100) NOT NULL,
    company character varying(100),
    contact_no character varying(15)
);


ALTER TABLE public.sponsor OWNER TO postgres;

--
-- Name: staff; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff (
    staff_id integer NOT NULL,
    name character varying(100) NOT NULL,
    role character varying(50),
    contact_no character varying(15),
    event_id integer
);


ALTER TABLE public.staff OWNER TO postgres;

--
-- Name: staff_event_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.staff_event_view AS
 SELECT st.staff_id,
    st.name,
    st.role,
    e.event_name
   FROM (public.staff st
     JOIN public.event e ON ((st.event_id = e.event_id)));


ALTER VIEW public.staff_event_view OWNER TO postgres;

--
-- Name: ticket_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.ticket_view AS
 SELECT t.ticket_id,
    t.type,
    t.price,
    e.event_name
   FROM (public.ticket t
     JOIN public.event e ON ((t.event_id = e.event_id)));


ALTER VIEW public.ticket_view OWNER TO postgres;

--
-- Name: user_booking_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.user_booking_view AS
 SELECT u.user_id,
    u.name,
    b.booking_id,
    b.booking_date,
    b.total_amount
   FROM (public."User" u
     JOIN public.booking b ON ((u.user_id = b.user_id)));


ALTER VIEW public.user_booking_view OWNER TO postgres;

--
-- Name: vendor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendor (
    vendor_id integer NOT NULL,
    name character varying(100) NOT NULL,
    contact_no character varying(15),
    service character varying(100),
    event_id integer
);


ALTER TABLE public.vendor OWNER TO postgres;

--
-- Name: vendor_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vendor_view AS
 SELECT v.vendor_id,
    v.name,
    v.service,
    e.event_name
   FROM (public.vendor v
     JOIN public.event e ON ((v.event_id = e.event_id)));


ALTER VIEW public.vendor_view OWNER TO postgres;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: booking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.booking (booking_id, booking_date, total_amount, user_id) FROM stdin;
201	2026-01-05	2500.00	101
202	2026-02-10	1800.00	101
203	2026-01-12	3200.00	102
204	2026-03-15	1500.00	103
205	2026-04-18	2750.00	103
206	2026-06-25	3500.00	105
207	2026-07-10	1900.00	105
208	2026-09-19	3100.00	107
209	2026-10-05	1700.00	108
210	2026-12-20	2900.00	110
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: event; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: event_sponsor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.event_sponsor (event_id, sponsor_id, sponsorship_amount) FROM stdin;
701	501	50000.09
701	502	75000.00
702	503	30000.00
702	504	45000.00
703	505	40000.00
703	506	35000.00
704	507	20000.00
705	508	60990.00
705	509	50000.00
706	510	45000.00
707	501	70000.00
708	502	30000.00
708	503	25000.00
709	504	15000.00
710	505	40000.00
710	506	35000.00
\.


--
-- Data for Name: organizer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment (payment_id, booking_id, payment_method, payment_date) FROM stdin;
1001	201	Credit Card	2026-01-06
1002	202	UPI	2026-02-11
1003	203	Debit Card	2026-03-16
1004	204	Net Banking	2026-04-19
1005	205	Credit Card	2026-05-21
1006	206	UPI	2026-06-21
1007	207	Debit Card	2026-07-23
1008	208	Net Banking	2026-08-25
1009	209	Credit Card	2026-09-27
1010	210	UPI	2026-10-01
\.


--
-- Data for Name: schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sponsor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sponsor (sponsor_id, name, company, contact_no) FROM stdin;
501	Amit Khanna	RedWave Media	9876522001
502	Neha Arora	Skyline Productions	9876522002
503	Rakesh Jain	BrightStar Advertising	9876522003
504	Pooja Mehta	Silverscreen Studios	9876522004
505	Siddharth Rao	UrbanBeat FM	9876522005
506	Kavya Nair	Creative Minds Agency	9876522006
507	Manish Gupta	NextGen Promotions	9876522007
508	Isha Verma	Elite Brand Solutions	9876522008
509	Aditya Singh	Spark Events Marketing	9876522009
510	Ritu Sharma	Golden Circle Sponsors	9876522010
\.


--
-- Data for Name: staff; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staff (staff_id, name, role, contact_no, event_id) FROM stdin;
1401	Rahul Sharma	Event Manager	9876543101	701
1402	Sneha Deshmukh	Coordinator	9876543102	701
1403	Amit Patil	Technician	9876543103	702
1404	Priya Kulkarni	Event Manager	9876543104	702
1405	Vikram Joshi	Security	9876543105	703
1406	Anjali Reddy	Coordinator	9876543106	704
1407	Rohit Mehta	Technician	9876543107	705
1408	Divya Nair	Event Manager	9876543108	706
1409	Karan Desai	Coordinator	9876543109	707
1410	Siddharth Rao	Technician	9876543111	709
\.


--
-- Data for Name: ticket; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ticket (ticket_id, event_id, booking_id, type, price) FROM stdin;
1103	702	203	Regular	700.00
1106	704	206	VIP	1000.00
1107	705	207	Regular	750.00
1108	706	208	VIP	1300.00
1109	707	209	Regular	650.00
1110	708	210	VIP	1400.00
\.


--
-- Data for Name: vendor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: venue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.venue (venue_id, name, location, capacity) FROM stdin;
601	Grand Arena	Mumbai, Maharashtra	5000
602	Starlight Convention Center	Pune, Maharashtra	3000
603	 Sunshine Open Grounds	Nagpur, Maharashtra	4500
604	Harmony Theatre	Nashik, Maharashtra	1200
605	Skyline Auditorium	Thane, Maharashtra	2000
606	 Creative Hub	Aurangabad, Maharashtra	800
607	Rhythm Hall	Kolhapur, Maharashtra	1500
608	Vista Amphitheatre	Solapur, Maharashtra	2500
609	Elite Event Center	Panvel, Maharashtra	1800
610	Cultural Hall	Latur, Maharashtra	1000
\.


--
-- Name: event_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.event_event_id_seq', 11, true);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (user_id);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (booking_id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (category_id);


--
-- Name: event event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT event_pkey PRIMARY KEY (event_id);


--
-- Name: event_sponsor event_sponsor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_sponsor
    ADD CONSTRAINT event_sponsor_pkey PRIMARY KEY (event_id, sponsor_id);


--
-- Name: organizer organizer_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer
    ADD CONSTRAINT organizer_email_key UNIQUE (email);


--
-- Name: organizer organizer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer
    ADD CONSTRAINT organizer_pkey PRIMARY KEY (organiser_id);


--
-- Name: payment payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_pkey PRIMARY KEY (payment_id);


--
-- Name: schedule schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT schedule_pkey PRIMARY KEY (schedule_id);


--
-- Name: sponsor sponsor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsor
    ADD CONSTRAINT sponsor_pkey PRIMARY KEY (sponsor_id);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (staff_id);


--
-- Name: ticket ticket_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket
    ADD CONSTRAINT ticket_pkey PRIMARY KEY (ticket_id);


--
-- Name: vendor vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendor
    ADD CONSTRAINT vendor_pkey PRIMARY KEY (vendor_id);


--
-- Name: venue venue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.venue
    ADD CONSTRAINT venue_pkey PRIMARY KEY (venue_id);


--
-- Name: id_booking_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX id_booking_user ON public.booking USING btree (user_id);


--
-- Name: id_event_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX id_event_category ON public.event USING btree (category_id);


--
-- Name: idx_booking_amount; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_booking_amount ON public.booking USING btree (total_amount);


--
-- Name: idx_booking_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_booking_user ON public.booking USING btree (user_id);


--
-- Name: idx_event_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_category ON public.event USING btree (category_id);


--
-- Name: idx_event_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_id ON public.event USING btree (event_id);


--
-- Name: idx_event_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_name ON public.event USING btree (event_name);


--
-- Name: idx_event_name_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_name_sort ON public.event USING btree (event_name);


--
-- Name: idx_event_org; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_org ON public.event USING btree (organiser_id);


--
-- Name: idx_event_venue; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_venue ON public.event USING btree (venue_id);


--
-- Name: idx_payment_booking; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payment_booking ON public.payment USING btree (booking_id);


--
-- Name: idx_staff_event; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_staff_event ON public.staff USING btree (event_id);


--
-- Name: idx_ticket_booking; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_booking ON public.ticket USING btree (booking_id);


--
-- Name: idx_ticket_event; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ticket_event ON public.ticket USING btree (event_id);


--
-- Name: idx_user_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_email ON public."User" USING btree (email);


--
-- Name: idx_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_id ON public."User" USING btree (user_id);


--
-- Name: idx_user_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_name ON public."User" USING btree (name);


--
-- Name: idx_vendor_event; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vendor_event ON public.vendor USING btree (event_id);


--
-- Name: venue trg_check_capacity; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_check_capacity BEFORE INSERT ON public.venue FOR EACH ROW EXECUTE FUNCTION public.check_capacity();


--
-- Name: schedule trg_check_schedule_time; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_check_schedule_time BEFORE INSERT ON public.schedule FOR EACH ROW EXECUTE FUNCTION public.check_schedule_time();


--
-- Name: ticket trg_check_ticket_price; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_check_ticket_price BEFORE INSERT ON public.ticket FOR EACH ROW EXECUTE FUNCTION public.check_ticket_price();


--
-- Name: payment trg_set_payment_date; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_set_payment_date BEFORE INSERT ON public.payment FOR EACH ROW EXECUTE FUNCTION public.set_payment_date();


--
-- Name: User trg_set_registration_date; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_set_registration_date BEFORE INSERT ON public."User" FOR EACH ROW EXECUTE FUNCTION public.set_registration_date();


--
-- Name: event_sponsor event_sponsor_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_sponsor
    ADD CONSTRAINT event_sponsor_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.event(event_id) ON DELETE CASCADE;


--
-- Name: event_sponsor event_sponsor_sponsor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_sponsor
    ADD CONSTRAINT event_sponsor_sponsor_id_fkey FOREIGN KEY (sponsor_id) REFERENCES public.sponsor(sponsor_id) ON DELETE CASCADE;


--
-- Name: ticket fk_booking; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket
    ADD CONSTRAINT fk_booking FOREIGN KEY (booking_id) REFERENCES public.booking(booking_id) ON DELETE CASCADE;


--
-- Name: event fk_category; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT fk_category FOREIGN KEY (category_id) REFERENCES public.category(category_id);


--
-- Name: ticket fk_event; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket
    ADD CONSTRAINT fk_event FOREIGN KEY (event_id) REFERENCES public.event(event_id) ON DELETE CASCADE;


--
-- Name: event fk_organiser; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT fk_organiser FOREIGN KEY (organiser_id) REFERENCES public.organizer(organiser_id);


--
-- Name: payment fk_payment_booking; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_payment_booking FOREIGN KEY (booking_id) REFERENCES public.booking(booking_id);


--
-- Name: schedule fk_schedule_event; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT fk_schedule_event FOREIGN KEY (event_id) REFERENCES public.event(event_id) ON DELETE CASCADE;


--
-- Name: staff fk_staff_event; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT fk_staff_event FOREIGN KEY (event_id) REFERENCES public.event(event_id) ON DELETE CASCADE;


--
-- Name: booking fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES public."User"(user_id);


--
-- Name: vendor fk_vendor_event; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendor
    ADD CONSTRAINT fk_vendor_event FOREIGN KEY (event_id) REFERENCES public.event(event_id) ON DELETE CASCADE;


--
-- Name: event fk_venue; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT fk_venue FOREIGN KEY (venue_id) REFERENCES public.venue(venue_id);


--
-- PostgreSQL database dump complete
--

\unrestrict Rw3dBD1ItM9W17Ok6zacQn4nwGfoI95SQcw4ozbLNAyIEhokxEWvw2aRVd0D8ab

